<!-- <app-header1></app-header1> -->

<div class="container-fluid" style="background-color: yellow">
   <!-- Header -->
   <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">WORLD LIBRARY</div>
          <div class="intro-lead-in">
              welcome to the world library page where you can find the various<br>
              books you are looking for. not only borrowing, but you can include any information<br>
              book references that other people might need.
          </div>
        </div>
      </div>
    </header>
</div>
<!-- <app-footer1></app-footer1> -->